/*----- Campo de texto 'Buscar' ---- */
.divCampoBuscar {
  min-height: 64px;
  padding: 8px 24px 0;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
/*---------------------------------*/

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}


/*-- Contenedor del cuerpo -----*/
mat-card{
  max-width: 92%;
  margin: 0 auto;
  margin-top: 6%;
  min-height: 40%;
  margin-bottom: 2%;
}
/*----------------------------------*/