<mat-card>
	<mat-toolbar color="primary">
		<mat-icon>home</mat-icon><span>&nbsp;INICIO</span>
	</mat-toolbar>
	<br><br>
	<p align="center"> 
            <img src="assets/imagenes/AppBeta.jpg" width="10%"/>
        </p>
	<br><br>

	<p align="justify">
		<b>AppBeta </b> es un Sistema Informático de prueba, desarrollado bajo distintos lenguajes de programación (HTML, JavaScript, PHP, etc.), que contiene módulos comunes de aplicaciones ya implementadas (Inicio de Sesión, Usuarios, etc), con la finalidad de exhibir ciertas herramientas de software a distintas empresas.
	</p>

	<!--br><br><br-->
</mat-card>

