<mat-card>
	<mat-toolbar color="primary">
		<mat-icon>{{logo}}</mat-icon><span>&nbsp;{{titulo}}</span>
	</mat-toolbar>
	<br>
		<mat-grid-list cols="3" rowHeight="5:1">
		   <mat-grid-tile>
		   		<b>*Tipo Documento:&nbsp;</b>
		   		<mat-form-field style="width: 25%;">
				  <mat-select [(ngModel)]="_usuario.tDoc" required>
				    <mat-option value="V">V</mat-option>
				    <mat-option value="E">E</mat-option>
				    <mat-option value="P">P</mat-option>
				  </mat-select>
				 <mat-error>Campo obligatorio</mat-error>
				</mat-form-field>
		   </mat-grid-tile>

		   <mat-grid-tile>
			     <b>*N° Documento:&nbsp;</b>
			     <mat-form-field style="width: 40%;">
		     	     <input maxlength="20" matInput [(ngModel)]="_usuario.nDoc" (keypress)="validarNumeros($event)" (paste)="false" required>
		     	     <mat-error>Campo obligatorio</mat-error>
		        </mat-form-field>
		   </mat-grid-tile>

		   <mat-grid-tile>
		     <b>*Nombre:&nbsp;</b>
		     <mat-form-field style="width: 60%;">
	     	     <input maxlength="60" matInput [(ngModel)]="_usuario.nombre" (paste)="false" (keypress)="validarLetras($event)" required>
	     	     <mat-error>Campo obligatorio</mat-error>
	        </mat-form-field>
		   </mat-grid-tile>


		   <mat-grid-tile>
		     <b>*Apellido:&nbsp;</b>
		     <mat-form-field style="width: 60%;">
	     	     <input maxlength="60" matInput [(ngModel)]="_usuario.apellido" (paste)="false" (keypress)="validarLetras($event)" required>
	     	     <mat-error>Campo obligatorio</mat-error>
	        </mat-form-field>
		   </mat-grid-tile>

		   <mat-grid-tile>
		     <b>*Dirección:&nbsp;</b>
		     <mat-form-field style="width: 60%;">
	     	     <textarea maxlength="300" matInput [(ngModel)]="_usuario.direccion" required
            ></textarea>
	     	     <mat-error>Campo obligatorio</mat-error>
	        </mat-form-field>
		   </mat-grid-tile>

		   <mat-grid-tile>
		     <b>*Teléfono:&nbsp;</b>
		     <mat-form-field style="width: 35%;">
	     	     <input maxlength="25" matInput [(ngModel)]="_usuario.telefono" required>
	     	     <mat-error>Campo obligatorio</mat-error>
	        </mat-form-field>
		   </mat-grid-tile>


		   <mat-grid-tile>
		   		<b>*Perfil:&nbsp;</b>
		   		<mat-form-field style="width: 40%;">
				  <mat-select [(ngModel)]="_usuario.perfil" required>
				    <mat-option value="ADMINISTRADOR">ADMINISTRADOR</mat-option>
				    <mat-option value="OPERADOR">OPERADOR</mat-option>
				  </mat-select>
				 <mat-error>Campo obligatorio</mat-error>
				</mat-form-field>
		   </mat-grid-tile>

		   <mat-grid-tile>
		     <b>*Login:&nbsp;</b>
		     <mat-form-field style="width: 40%;">
	     	     <input matInput maxlength="30" [(ngModel)]="_usuario.login" (keyup)="validarLogin()" required>
	     	     <mat-error>Campo obligatorio</mat-error>
	     	     <mat-hint *ngIf="errLogin">Formato de Login Incorrecto</mat-hint>

	        </mat-form-field>
		   </mat-grid-tile>

		   <mat-grid-tile>
		     <b>*Clave:&nbsp;</b>
		     <mat-form-field style="width: 45%;">
	          <input maxlength="30" matInput [(ngModel)]="_usuario.clave" [type]="visible ? 'text' : 'password'" required>
	          <mat-icon matSuffix (click)="visible = !visible">{{visible ? 'visibility_off' : 'visibility'}}</mat-icon>
	          <mat-error>Campo obligatorio</mat-error>
	        </mat-form-field>
		   </mat-grid-tile>


		   <mat-grid-tile>
		   		<b>*Pregunta:&nbsp;</b>
		   		<mat-form-field style="width: 55%;">
				  <mat-select [(ngModel)]="_usuario.pregunta" required>
				    <mat-option value="COLOR FAVORITO">COLOR FAVORITO?</mat-option>
				    <mat-option value="COMIDA FAVORITA">COMIDA FAVORITA?</mat-option>
				    <mat-option value="ARTISTA FAVORITO">ARTISTA FAVORITO?</mat-option>
				    <mat-option value="CANCION FAVORITA">CANCIÓN FAVORITA?</mat-option>
				    <mat-option value="NOMBRE DE MASCOTA">NOMBRE DE MASCOTA?</mat-option>
				  </mat-select>
				 <mat-error>Campo obligatorio</mat-error>
				</mat-form-field>
		   </mat-grid-tile>

		   <mat-grid-tile>
		     <b>*Respuesta:&nbsp;</b>
		     <mat-form-field style="width: 55%;">
	          <input maxlength="30" matInput [(ngModel)]="_usuario.respuesta" [type]="visible2 ? 'text' : 'password'"   required>
	          <mat-icon matSuffix (click)="visible2 = !visible2">{{visible2 ? 'visibility_off' : 'visibility'}}</mat-icon>
	          <mat-error>Campo obligatorio</mat-error>
	        </mat-form-field>
		   </mat-grid-tile>

		   <mat-grid-tile>
		   		<b>*Activo:&nbsp;</b>
		   		<mat-form-field style="width: 25%;">
				  <mat-select [(ngModel)]="_usuario.activo" required>
				    <mat-option value="1">SI</mat-option>
				    <mat-option value="0">NO</mat-option>
				  </mat-select>
				 <mat-error>Campo obligatorio</mat-error>
				</mat-form-field>
		   </mat-grid-tile>


		 </mat-grid-list>
		 <br>
		 <br>
		 <div align="right" class="button-row">
          <button [disabled]="bloquearBotonGuardar()" width="200px" (click)="agregarEditar()" mat-raised-button color="primary"><mat-icon>check</mat-icon>Guardar</button>
          <button (click)="volverListado()" mat-raised-button color="basic"><mat-icon>reply</mat-icon>Volver</button>
        </div>
</mat-card>
